
<nav>
  <div class="nav-wrapper">
    <a routerLink="" class="brand-logo left" link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap" rel="stylesheet">
      Des.alinhar</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active">
        <a routerLink="/home">Home</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/produtos">Produtos</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/pedidos">Pedidos</a>
      </li>
    </ul>
  </div>
</nav>

