<body>
    

<h4>O que é a Des.alinhar?</h4>
<p>Criada por Vanusia Cavalcante, a Des.alinhar é uma loja de produtos artesanais feitos de crochê.<br>
Segundo ela, este projeto empreendedor vem da paixão de manifestar a arte de suas mais variadas formas.<br>
Além de vender, Vanusia ensina como produzir algumas peças em seu canal no youtube! =)</p>

<div class="row">
    <div class="column one">
        <img src="https://img.elo7.com.br/product/original/4007957/saia-de-margaridas-de-croche-saia.jpg" alt="Saia de crochê">
    </div>
    <div class="column 2">
        <img src="https://media.tenor.com/fBKffRUvc4oAAAAM/gnome-crochet.gif" alt="Blusa de crochê">
    </div>
    <div class="column 3">
        <img src="https://i.pinimg.com/originals/ca/49/28/ca492837244c5fb9cc0d86c4f032709c.jpg" alt="Chaveiros sapos de crochê">
        
    </div>
  </div>




  

</body>